body{
  margin:0;
  padding:0;
  text-align:justify;
  text-align:center;
  font-family: 'Poiret One', cursive;

}

.header{
  background-image: url("../maria.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment:fixed;
  padding-top: 600px;
  padding-bottom: 100px;
  color:white;
  font-size: 44px;
  font-family: 'Poiret One', cursive;
}

.about{
  margin: auto;

}
